/* SelectModal.module.css */

.overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(6px);
  z-index: 50;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  width: 548px;
  padding: 2.5rem;
  /* 10 * 0.25rem */
  background-color: white;
  border-radius: 12px;
  border: 1px solid #CBD4E6;
  box-shadow:
    0px 2px 4px rgba(7, 4, 146, 0.10),
    0px 24px 60px rgba(6, 47, 125, 0.05),
    0px 12px 24px rgba(27, 59, 119, 0.05);
}

.title {
  color: #6E7491;
  font-size: 1.5rem;
  /* 24px */
  font-weight: 600;
  margin-bottom: 0.75rem;
  /* 3 * 0.25rem */
  display: inline-block;
}

.description {
  color: #7C8DB0;
  font-size: 18px;
  margin-bottom: 1.25rem;
  /* 5 * 0.25rem */
}

.actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  /* 4 * 0.25rem */
}