.container {
  width: 400px;
  border-radius: 8px;
  box-shadow: 0px 2px 4px 0px rgba(28, 5, 77, 0.10), 0px 12px 32px 0px rgba(0, 0, 0, 0.05);
}

.image {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.content {
  padding: 16px 24px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #6E7491;
  font-size: 18px;
  margin-bottom: 4px;
}

.text {
  color: #7C8DB0;
}