@import "tailwindcss";

@font-face {
  font-display: swap;
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/nunito-sans-regular.woff2') format('woff2'),
    url('./assets//fonts//nunito-sans-regular.ttf') format('truetype');
}

@font-face {
  font-display: swap;
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 600;
  src: url('./assets/fonts/nunito-sans-semibold.woff2') format('woff2'),
    url('./assets/fonts/nunito-sans-semibold.ttf') format('truetype');
}

@font-face {
  font-display: swap;
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 700;
  src: url('./assets/fonts/nunito-sans-bold.woff2') format('woff2'),
    url('./assets/fonts/nunito-sans-bold.ttf') format('truetype');
}

@font-face {
  font-display: swap;
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 800;
  src: url('./assets/fonts/nunito-sans-extrabold.ttf') format('woff2'),
    url('./assets/fonts/nunito-sans-extrabold.ttf') format('truetype');
}

body {
  font-family: "Nunito Sans", sans-serif;
}