.languageSwitcher {
  position: relative;
  display: inline-block;
}

.languageButton {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 12px;
  background: white;
  border: 1px solid #cbd4e6;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  transition: all 0.2s ease;
}

.languageButton:hover {
  border-color: #605dec;
  background-color: #f8f9ff;
}

.flag {
  font-size: 14px;
  display: inline-block;
  margin-right: 4px;
  color: #7c8db0;
  font-family: 'Nunito Sans';
}

.languageName {
  color: #27273f;
  font-weight: 500;
}

.arrow {
  font-size: 10px;
  color: #7c8db0;
  transition: transform 0.2s ease;
}

.arrow.open {
  transform: rotate(180deg);
}

.languageDropdown {
  background: white;
  border: 1px solid #cbd4e6;
  border-radius: 6px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  z-index: 100;
  width: 55px;
}

.languageOption {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
  padding: 10px 2px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.2s ease;
}

.languageOption:hover {
  background-color: #f8f9ffea;
}

.languageOption.active {
  background-color: #605dec;
  color: white;
}

.languageOption.active .flag {
  color: white;
}

.languageOption:first-child {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.languageOption:last-child {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

@media (max-width: 768px) {
  .languageButton {
    padding: 6px 10px;
    font-size: 12px;
  }

  .languageName {
    display: none;
  }

  .flag {
    font-size: 18px;
  }
}